<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${invoice.invoiceId}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
@page {
	size: 21cm 29.7cm;
	margin: 15mm 10mm 15mm 10mm;
	/* change the margins as you want them to be. */
}

table {
	width: 100%;
	border: solid 1px #424242;
	border-collapse: collapse
}

table td,th {
	width: 8.3%;
	padding:5px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 1px;
}

.border {
	border: solid 1px #424242;
}
</style>

</head>
<body>
	<table>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="3"><!--  <img th:src=${company.logoImg}/> -->
			<img height="100" id="img-logo" th:src=${company.logoImg} />
			</td>
			<td colspan="6" align="center">
				<h2 th:text="${company.companyName}" >Kameshwaran & Kausik</h2>
				<h3 th:text="${company.title}">Chartered Accountants</h3>
				<p th:text="${company.addressLine1}+','+${company.addressLine2}">No.1916,"SRI" Nivas,3rd Cross</p>
				<p th:text="${company.city}+','+${company.state}+'-'+${company.pinCode}">1st Main Road, Prashanthnagar, Bangalore - 560079</p>
			</td>
			<td colspan="3"> </td>
		</tr>
		<tr>
			<td colspan="12" align="center" class="border">
				<h3>Professional Invoice</h3>
			</td>
		</tr>
		<tr>
			<td colspan="12" align="center" height="20px" class="border">
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3">
			  Invoice Number :
			</th>
			<td align="center" class="border" colspan="3" th:text="${invoice.invoiceId}">
			  GST-KNK-002
			</td>
			<th align="right" class="border" colspan="3">
			   Invoice Date :
			</th>
			<td align="center" class="border" colspan="3" th:text="${invoice.invoiceDate}">
				3-May-2018
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3">
			  State :
			</th>
			<td align="center" class="border" colspan="3" th:text="${company.state}">
			  KARNATAKA
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3">
			  Client Name
			</th>
			<td align="center" class="border" colspan="9" th:text="${client.name}">
			  Toyota tshusho Insurance Broker India Pvt Ltd
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3" >
			  Client Address :
			</th>
			<td align="center" class="border" colspan="9" th:text="${client.addrLine1+', '+client.addrLine2+', '+client.city+', '+client.state+'-'+client.pincode}">
			  Unit No 4 B, Frontline Grandeur, 14, Walton Road, Bangalore - 560001.
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3">
			  Gstin :
			</th>
			<td align="center" class="border" colspan="9" th:text="${company.gstNo}">
			  29AACCT8705E1Z9
			</td>
		</tr>
		<tr>
			<th align="right" class="border" colspan="3">
			  State :
			</th>
			<td align="center" class="border" colspan="3" th:text="${client.state}">
			  KARNATAKA
			</td>
			<th align="right" class="border" colspan="3">
			   State Code : 
			</th>
			<td align="center" class="border" colspan="3">
			 29
			</td>
		</tr>
		<tr>
			<!-- <th align="center" class="border" colspan="1">
			 Sl No :
			</th> -->
			<th align="center" class="border" colspan="6">
			  Particulars of Service
			</th>
			<th align="center" class="border" colspan="1">
			  SAC Code
			</th>
			<th align="center" class="border" colspan="1">
			  QTY
			</th>
			<th align="center" class="border" colspan="2">
			  Rate 
			</th>
			<th align="center" class="border" colspan="2">
			  Amount
			</th>
		</tr>
		
		<tr>
		
			<td align="center" class="border" colspan="6" th:text="${invoice.itemDescription}">
			  Particulars of Service
			</td>
			<td align="center" class="border" colspan="1" th:text="${invoice.sacCode}">
			  SAC Code
			</td>
			<td align="center" class="border" colspan="1" th:text="${invoice.quantity}">
			  QTY
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.invoiceRate}">
			  Rate 
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.grossInvoiceAmount}">
			  Amount
			</td>
		</tr>
		<tr>
			<td align="center" class="border" colspan="8" th:text="${totalAmtInWords}">
			<!-- ${#strings.toUpperCase('totalAmtInWords')} " -->
			</td>
			<td align="center" class="border" colspan="2">
			  Gross amount (A)
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.grossInvoiceAmount}">
			  45000
			</td>
		</tr>

		<tr>
			<td align="left" valign="top" class="border" colspan="6" rowspan="6">
			  <p>Bank Branch: <i th:text="${company.bankName+','+company.branch}">Bank</i></p>
			  <p>Account Number:<i th:text="${company.accountNo}">NO</i></p>
			  <p>IFSC Code:<i th:text="${company.branchIFSCCode}"></i></p>
			  <p><u>Payment Terms</u></p>
			  <p><small>Immediate</small></p>
			</td>
			<td align="center" class="border" colspan="2">
			  Add: CGST 
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.cgstInvoicePercent}">
			  45000 
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.cgstInvoice}">
			  45000
			</td>
		</tr>
		<tr>
			
			<td align="center" class="border" colspan="2">
			   Add: SGST 
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.sgstInvoicePercent}">
			  45000
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.sgstInvoice}">
			  45000
			</td>
		</tr>
		<tr>
			
			<td align="center" class="border" colspan="2">
			   Add: IGST 
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.igstInvoicePercent}">
			  45000
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.igstInvoice}">
			  45000
			</td>
		</tr>
		<tr>
			
			<td align="center" class="border" colspan="2">
			  Total Amount
			</td>
			<td align="center" class="border" colspan="2">
			  A + B
			</td>
			<td align="center" class="border" colspan="2" th:text="${invoice.calculatedInvoiceAmount}">
			  45000
			</td>
		</tr>
		<tr>
			<td align="center" class="border" colspan="6">
			  For <b th:text="${company.ownerName}">Kameshwaram & Kaushik</b>
			  <p th:text="${company.title}" > Chartered Accountant</p>
			  <p>&nbsp;</p>
			  <p>&nbsp;</p>
			  <p>&nbsp;</p>
			  <p><i>Authorised Signatory</i></p>
			</td>
			
		</tr>
		
	</table>
	<p><u>Terms & Conditions</u></p>
	<p th:text="${company.termsConditions}">
	  
	</p>
</body>
</html>